html {
	scroll-behavior: smooth;
}

body {
    font-family: var(--font-main);
}

.our-works__block {
    position: relative;
    padding: 56px 47px 54px 133px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    background: #FBF6EF;
    max-width: 587px;
    width: 100%;
    min-height: 436px;
    margin-left: auto;
}

.our-works__title {
    position: relative;
    display: block;
    margin-bottom: 50px;
    color: #002B45;
    font-family: "Lora";
    font-size: 36px;
    font-weight: 700;
    line-height: 120%; /* 43.2px */
}

.our-works__title:after {
    content: "";
    background-color: #002B45;
    position: absolute;
    width: 191px;
    height: 1px;
    left: -210px;
    top: 50%;
}

.our-works__inner {
    display: grid;
    grid-template-columns: auto auto;
    gap: 45px;
    padding-bottom: 100px;
}

.our-works__sublock {
    position: absolute;
    background-image: url("../img/our-works-kitchen__big.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 287px;
    max-height: 364px;
    width: 100%;
    height: 100%;
    left: -200px;
    top: 36px;
}

.our-works__subsublock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 13px 17px 12px 17px;
    bottom: 0;
    background: #001623;
    color: #ffffff;
    max-width: 321px;
    width: 100%;
}

.our-works__flex {
    display: flex;
    column-gap: 5px;
}

.our-works__subtitle {
    margin-bottom: 20px;
    color: #002B45;
    font-family: "Lora";
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}

.our-works__current {
    position: relative;
    color: #FFF;
    font-family: "Lora";
    font-size: 20.686px;
    line-height: normal;
    cursor: pointer;
}

.our-works__current::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/arrow_left.svg");
    background-repeat: no-repeat;
    width: 19px;
    height: 7px;
    bottom: -6px;
    left: -5px;
}

.our-works__total {
    position: relative;
    color: #797979;
    font-family: "Lora";
    font-size: 10.343px;
    line-height: normal;
    cursor: pointer;
}

.our-works__total::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/arrow_left.svg");
    background-repeat: no-repeat;
    width: 19px;
    height: 7px;
    bottom: -9px;
    left: -5px;
    transform: rotate(180deg);
}

.our-works__text {
    margin-bottom: 48px;
    color: #002B45;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.our-works__list {
    display: flex;
    justify-content: space-between;
    column-gap: 58px;
    margin-bottom: 30px;
    color: #002B45;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}

.our-works__subtext {
    display: block;
    margin-bottom: 46px;
    color: #7C7C7C;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}

.our-works__buttons {
    display: flex;
    align-items: center;
    column-gap: 16px;
}