.advantages {
    position: relative;
    margin-bottom: 165px;
    background-color: #FBF6EF;
    padding-top: 101px;
    padding-bottom: 97px;
}

.advantages__kitchen {
    position: absolute;
    left: 0;
    top: -40px;
}

.advantages__inner {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.advantages__title {
    text-align: left;
    color: #002B45;
    font-family: "Lora";
    font-size: 36px;
    font-weight: 700;
    line-height: 120%; /* 43.2px */
}

.advantages__block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 56px;
}

.advantages__line {
    background-color: #002B45;
    width: 100%;
    max-width: 1013px;
    height: 1px;
}

.advantages__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 85px;
}

.advantages__item {
    display: flex;
    column-gap: 30px;
    color: #002B45;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    max-width: 360px;
    width: 100%;
}

.advantages__text {
    font-weight: 400;
}