.header {
	background-color: #002B45E5;
	padding: 36px 0;
	color: #ffffff;

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header__block {
	display: flex;

	&--right {
		column-gap: 73px;
	}

	&--left {
		column-gap: 34px;
	}
}

.header__inner {
	&--gap {
		display: flex;
		column-gap: 20px;
	}
}

.header__item {
	display: flex;
}